<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>

<h3>Student Registration Form</h3>

<form method="post" th:action="@{/processStudentForm}" th:object="${student}">

    First Name:
    <label><input th:field="*{firstName}" type="text"/></label>

    <br><br>

    Last Name: <label><input th:field="*{lastName}" type="text"/></label>

    <br><br>

    Country:
    <label>
        <select th:field="*{country}">
            <option th:each="tempCountry:${countries}" th:text="${tempCountry}" th:value="${tempCountry}"></option>
        </select>
    </label>

    <br><br>

    Favorite Programming Language:
    <label>
        <input th:field="*{favoriteLanguage}" th:text="Go" th:value="Go" type="radio">
    </label>
    <label>
        <input th:field="*{favoriteLanguage}" th:text="Kotlin" th:value="Kotlin" type="radio">
    </label>
    <label>
        <input th:field="*{favoriteLanguage}" th:text="Java" th:value="Java" type="radio">
    </label>
    <label>
        <input th:field="*{favoriteLanguage}" th:text="Python" th:value="Python" type="radio">
    </label>

    <br><br>

    <input type="submit" value="Submit">

</form>

</body>
</html>